Basic Variables

In [28]:
#variables
name="Ishan"
age=21
temp=98.6
male=True
print(name,age,temp,male)

Ishan 21 98.6 True

Input

In [29]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
print(name,age)

Enter your name: ishan
Enter your age: 21
ishan 21

Numeric Operators

In [30]:
a, b = 10, 3
print("Numeric operators with a=10, b=3:")
print("  a + b =", a + b)
print("  a - b =", a - b)
print("  a * b =", a * b)
print("  a / b =", a / b)    # true division -> float
print("  a // b =", a // b)  # floor division
print("  a % b =", a % b)    # remainder
print("  a ** b =", a ** b)  # power

Numeric operators with a=10, b=3:
  a + b = 13
  a - b = 7
  a * b = 30
  a / b = 3.3333333333333335
  a // b = 3
  a % b = 1
  a ** b = 1000

TypeCasting

In [31]:
num=123
num2=1
a=str(num+num2)
print(a)

124

Boolean and logical operators

In [32]:
is_adult = age >= 18
print()
print("Boolean and comparisons:")
print("  age >= 18 ->", is_adult)
print("  male and is_adult ->", male and is_adult)
print("  not male ->", not male)

Boolean and comparisons:
  age >= 18 -> True
  male and is_adult -> True
  not male -> False

Operator precedence

In [33]:
expr1 = 2 + 3 * 4           # multiplication before addition
expr2 = (2 + 3) * 4         # parentheses change order
print("Operator precedence:")
print("  2 + 3 * 4 =", expr1)
print("  (2 + 3) * 4 =", expr2)

Operator precedence:
  2 + 3 * 4 = 14
  (2 + 3) * 4 = 20

String

In [36]:
greeting = "Hello, " + name  # string concatenation using existing 'name'

str_literal = "Hello, Python" # Define str_literal here
repeat = (str_literal + " ") * 2

print()
print("String examples:")
print(" ", greeting)
print(" ", repeat)

String examples:
  Hello, ishan
  Hello, Python Hello, Python

Literal and Constants

In [37]:
# Constants (by convention - uppercase names)
PI = 3.14159
MAX_USERS = 100

# Literals examples
int_literal = 42
float_literal = 3.14
str_literal = "Hello, Python"
bool_literal = True

print("Literals and constants:")
print(" ", int_literal, float_literal, str_literal, bool_literal)
print("  PI (constant):", PI, "MAX_USERS (constant):", MAX_USERS)
print()

Literals and constants:
  42 3.14 Hello, Python True
  PI (constant): 3.14159 MAX_USERS (constant): 100